html {
 margin: 0%;
padding: 0%;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.container_body {
    width: 100%;
    background-color: white;
    
}

.topper {
    width: 100%;
}

.bouton {
    margin-bottom: -0%;
}



.txt_top {
    text-align: justify;
    width: 98%;
    margin-left: 1%;
    background-color: antiquewhite;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#top_title {
    
    padding-left: 50%;
}

.img_art_g {
    float: left;
    margin:4%;
    width: auto;
    height: auto;
    margin:4%;
    
}

.trans:hover {
    
    opacity: 85%;
    transition: ease 0.5;
    
}





